
{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.PageTitle}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">

    
</head>

<body id="top">

    <div class="side-panel">
        <header><h2><a href="/">Gallery Homepage</a></h2></header>
        <hr>
        <nav id="project-nav" aria-labelledby="project-nav-title">
            <header id="project-nav-title"><h3>Projects</h3></header>

            <ul>
                {{range .Projects}}
                    <li><a href="/project/{{.Id}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </nav>
    </div>

    <div class="main-panel">
        <main>
            
            <header>
                <h1 >{{.PageTitle}}</h1>
                <hr>
            </header>

            <article>

    
{{ end }}




{{ define "footer" }}
            </article>
        </main>

        <footer>
            <hr>
            <a href="#top">Go to Top</a>
        </footer>

    </div>

</body>
</html>
{{ end }}