<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Project</title>

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    
</head>

<body id="top">
    <div class="side-panel">
        <header><h2><a href="/">Gallery Homepage</a></h2></header>
        <hr>
        <nav id="project-nav" aria-labelledby="project-nav-title">
            <header id="project-nav-title"><h3>Projects</h3></header>
            <ul>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                
            </ul>
        </nav>
    </div>

    <div class="main-panel">
        <main>
            <header>
                <h1 id="top">Test Project</h1>
                <hr>
            </header>

            <article>
                <a href="#notes">Go to Notes</a>

                <section class="demo">
                    <h2>Demo</h2>
                    <hr>
                    <br>
                   
                    <img alt="This is the project's thumbnail">
                
                    <br>
                    <button>Enter Project</button>

                </section>

                <section id="notes">
                    <h2>Notes</h2>
                    <hr>
                    <p><em>
                        Created on: 01/01/1970 <br>
                        Last updated: 01/01/1970
                    </em></p>
                    
                    <p>First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para First para </p>

                    <p>second para First para First para First para First para First para First para </p>

                    <p>the third First para First para First para First para First para First para First para </p>
                </section>

            </article>
        </main>

        <footer>
            <hr>
            <a href="#top">Go to Top</a>
        </footer>
    </div>
</body>
</html>