<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Page</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">

    
</head>

<body id="top">

    <div class="side-panel">
        <header><h2><a href="/">Gallery Homepage</a></h2></header>
        <hr>
        <nav id="project-nav" aria-labelledby="project-nav-title">
            <header id="project-nav-title"><h3>Projects</h3></header>
            <ul>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                <li><a href="/project/0">Project 0</a></li>
                <li><a href="/project/1">Project 1</a></li>
                
            </ul>
        </nav>
    </div>

    <div class="main-panel">
        <main>
            
            <header>
                <h1 >Gallery</h1>
                <hr>
            </header>

            <article>
                <ul>

                    <li><a href="/project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="/project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="/project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970 - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                    <li><a href="./project/0">Project 0</a> - Last updated on: 01/01/1970</li>
                
                    <li><a href="./project/1">Project 1</a> - Last updated on: 01/01/1970</li>
                
                </ul>
            </article>
        </main>
    
        <footer>
            <hr>
            <a href="#top">Go to Top</a>
        </footer>

    </div>
    
    
</body>
</html>